/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --gray: #636366
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: #0F0F0F;
}

button {
  cursor: pointer;
  background: none;
}

.wrapper {
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
}

@font-face {
  font-family: 'SF Pro Text Regular'; /* Укажите название шрифта */
  src: url('./assets/fonts/SFProText-Regular.woff2') format('woff2'), /* Путь к файлу WOFF2 */
  url('./assets/fonts/SFProText-Regular.woff') format('woff'),
  url('./assets/fonts/SFProText-Regular.ttf') format('truetype'); /* Путь к файлу WOFF (на случай, если браузер не поддерживает WOFF2) */
  font-weight: 400; /* Укажите стиль шрифта (normal, bold, etc.) */
  font-style: normal; /* Укажите начертание шрифта (normal, italic, etc.) */
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text Medium'; /* Укажите название шрифта */
  src: url('./assets/fonts/SFProText-Medium.woff2') format('woff2'), /* Путь к файлу WOFF2 */
  url('./assets/fonts/SFProText-Medium.woff') format('woff'),
  url('./assets/fonts/SFProText-Medium.ttf') format('truetype'); /* Путь к файлу WOFF (на случай, если браузер не поддерживает WOFF2) */
  font-weight: 500; /* Укажите стиль шрифта (normal, bold, etc.) */
  font-style: normal; /* Укажите начертание шрифта (normal, italic, etc.) */
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text Semibold'; /* Укажите название шрифта */
  src: url('./assets/fonts/SFProText-Semibold.woff2') format('woff2'), /* Путь к файлу WOFF2 */
  url('./assets/fonts/SFProText-Semibold.woff') format('woff'),
  url('./assets/fonts/SFProText-Semibold.ttf') format('truetype'); /* Путь к файлу WOFF (на случай, если браузер не поддерживает WOFF2) */
  font-weight: 600; /* Укажите стиль шрифта (normal, bold, etc.) */
  font-style: normal; /* Укажите начертание шрифта (normal, italic, etc.) */
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text Bold'; /* Укажите название шрифта */
  src: url('./assets/fonts/SFProText-Bold.woff2') format('woff2'), /* Путь к файлу WOFF2 */
  url('./assets/fonts/SFProText-Bold.woff') format('woff'),
  url('./assets/fonts/SFProText-Bold.ttf') format('truetype'); /* Путь к файлу WOFF (на случай, если браузер не поддерживает WOFF2) */
  font-weight: 700; /* Укажите стиль шрифта (normal, bold, etc.) */
  font-style: normal; /* Укажите начертание шрифта (normal, italic, etc.) */
  font-display: swap;
}

body {
  font-family: 'SF Pro Text Regular', sans-serif;
  color: #0F0F0F;
  background: #F9F9FB;
  padding-bottom: 53px;
}

.header {
  display: none;
}

.product-mobile {
  background: #ffffff;
}

.product-mobile__header {
  padding: 10px;
  font-size: 12px;
}

.product-mobile__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.header__left button {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__left img {
  display: block;
  margin: auto;
  height: 16px;
  width: 9px;
}

.product-mobile__header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.product-mobile__header-avatar {
  display: block;
  width: 31px;
  height: 31px;
}

.product-mobile__header-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-mobile__images {
  margin-top: 2px;
}

.button-subscribe {
  font-family: 'SF Pro Text Semibold', sans-serif;
  background: #000;
  color: #fff;
  padding: 4px 14px;
  border-radius: 9999px;
}

.button-subscribe.sign {
  background: #F9F9FB;
  color: #000;
}

.swiper {
  width: 100%;
  height: 562px;
}

.swiper-card {
  position: relative;
  width: 100%;
  height: 242px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #F9F9FB !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-card .swiper-slide {
  background-color: transparent !important;
}

.slide-container {
  margin: 0 auto;
  width: 100%;
  max-width: 393px;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: transparent;
}

.slide-container img {
  display: block;
  width: 100%;
  background: transparent;
}

.swiper-slide img {
  display: block;
  /*width: 100%;*/
  margin: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-mobile__parameters {
  background: none;
  width: 16px;
  height: 16px;
}

.product-mobile__parameters img {
  height: 100%;
}

.section {
  margin-top: 2px;
}

.section__content {
  border-radius: 16px;
  padding: 15px;
  background: #fff;
}

.product-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

.product-info__link {
  cursor: pointer;
  color: var(--gray);
  background: #F9F9FB;
  padding: 15px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.product-link__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.product-link__icon {
  width: 15px;
  height: 15px;
}

.product-link__icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-link__right {
  font-size: 12px;
}

.product-info__link-next {
  width: 6px;
  height: 12px;
}

.product-actions__button img {
  display: block;
  height: 100%;
}

.product-info__name {
  font-size: 16px;
  font-family: "SF Pro Text Semibold", sans-serif;
}

.product-info__price {
  font-size: 14px;
}

.join {
  z-index: 9999;
}

.product-info__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.product-actions__like {
  display: flex;
  gap: 4px;
  align-items: center;
}

.product-actions__like span {
  font-size: 15px;
}

.product-actions__footer-top-right, .product-actions__footer-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}

.product-actions__button {
  width: 26px;
  height: 26px;
}

.product-actions__button img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-actions__forward {
  width: 28px;
  height: 28px;
}

.product-actions__forward img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-actions__on-site {
  padding: 9px 26px;
  border-radius: 9999px;
  font-family: "SF Pro Text Semibold", sans-serif;
  font-size: 13px;
  color: #fff;
  background: #000;
}

.product-actions__favorites {
  width: 26px;
  height: 26px;
}

.product-info__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  font-family: "SF Pro Text Medium", sans-serif;
  font-size: 12px;
  border-radius: 9999px;
  background: #F9F9FB;
  padding: 8px;
}

.tag__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 14px;
  height: 14px;
}

.tag__icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-info__tags-more {
  padding: 8px;
  font-size: 12px;
  font-family: "SF Pro Text Medium", sans-serif;
  color: var(--gray);
  background: none;
}


.product-description__title {
  font-family: "SF Pro Text Semibold", sans-serif;
  font-size: 16px;
}

.product-description__text {
  margin-top: 15px;
  font-size: 14px;
}

.product-description__text span {
  cursor: pointer;
  color: var(--gray);
  font-family: "SF Pro Text Semibold", sans-serif;
  margin-left: -2px;
}

.related__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 14px;
  width: 100%;
  font-size: 16px;
  color: #AEAEB2;
  font-family: "SF Pro Text Semibold", sans-serif;
}

.related__tabs--justify-start {
  justify-content: start !important;
}

.related__tab {
  cursor: pointer;
}

.related__tab.selected {
  color: #000;
}

.related__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 14px);
  margin-right: -7px;
  margin-left: -7px;
  row-gap: 15px;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  margin-top: 15px;
}

.related__card {
  width: 100%;
  max-width: 184px;
  overflow: hidden;
}

.related__card img {
  display: block;
  width: 100%;
}

.related-card-other {
  height: 383px;
}

.related-card-other .related-card__images {
  border-radius: 16px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1px;
}

.related-card__images {
  width: 100%;
}

.related-card__images-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.related-card__image-other, .related-card-other__main-image {
  width: 100%;
  max-width: 100% !important;
}

.related-card__image-other {
  max-width: 61px;
  max-height: 61px;
}

.related-card-other__main-image img {
  display: block;
  width: 100%;
}

.related-card__info {
  padding: 7px;
  color: var(--gray);
}

.related-card__site {
  font-size: 10px;
}

.related-card__title {
  margin-top: 2px;
  color: #000000;
  font-family: "SF Pro Text Semibold", sans-serif;
  font-size: 12px;
}

.related-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  margin-top: 7px;
}

.related-card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3px;
}

.related-card__profile-avatar {
  height: 16px;
  width: 16px;
}

.related-card__profile-avatar img {
  display: block;
  height: 100%;
  width: 100%;
}

.related-card__profile-username {
  font-family: "SF Pro Text Medium", sans-serif;
  font-size: 11px;
}

.related-card__price {
  font-family: "SF Pro Text Medium", sans-serif;
}

.related-card__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}

.related-card__likes-button {
  width: 11px;
  height: 11px;
}

.related-card__likes-button img {
  display: block;
  width: 100%;
  height: 100%;
}


.download__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.download__title {
  font-size: 26px;
  font-family: "SF Pro Text Bold", sans-serif;
  text-align: center;
}

.download__description {
  color: var(--gray);
  font-size: 15px;
  text-align: center;
}

.download__button {
  display: block;
  text-align: center;
  font-size: 17px;
  font-family: "SF Pro Text Semibold", sans-serif;
  padding: 14px;
  width: 100%;
  color: #fff;
  background: #000;
  border-radius: 9999px;
}


.join {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  gap: 10px;
  padding: 4px 10px;
  background: rgba(37, 37, 37, 0.75);
}

.join__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
}

.footer-user__img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.footer-user__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-user__description {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3px;
  font-size: 13px;
  font-family: 'SF Pro Text Medium', sans-serif;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__button-open {
  padding: 6px 16px;
  font-size: 12px;
  border-radius: 9999px;
  background: #fff;
  color: #000;
  font-family: "SF Pro Text Semibold", sans-serif;
}

.popup-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 9999;
  background: rgba(37, 37, 37, 0.85);
}

.popup-bg.hidden-popup {
  background: rgba(37, 37, 37, 0);
}

.popup {
  position: fixed;
  bottom: 0;
  padding: 15px;
  border-radius: 34px 34px 0 0;
  z-index: 9999;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: #fff;
}

.popup.hide {
  -webkit-transform: translateY(477px);
  -ms-transform: translateY(477px);
  transform: translateY(477px);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.popup__avatar {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 100%;
}

.popup__avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.popup__title {
  font-size: 26px;
  text-align: center;
  font-family: "SF Pro Text Bold", sans-serif;
}

.popup__descripiton {
  color: var(--gray);
  font-size: 15px;
  text-align: center;
}

.popup__button {
  font-family: "SF Pro Text Semibold", sans-serif;
  font-size: 17px;
  padding: 16px;
  width: 100%;
  border-radius: 9999px;
}

.popup__button-open {
  color: #fff;
  background: #000;
}

.popup__button-not-now {
  margin-top: -15px;
  color: #000;
}

.hidden {
  display: none;
}

.grid-item {
  width: 100%;
  /*max-width: 184px; !* Соответствует columnWidth *!*/
  max-width: calc(50% - 4px); /* Соответствует columnWidth */
  margin-bottom: 15px;
}

.product-actions-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  z-index: 9999;
  background: #FFFFFF;
}

.product {
  display: none;
}

.selection {
  display: none;
}

.product-mobile-info .product-info__content {
  display: none;
}

.join-qr {
  display: none;
}

@media (min-width: 1280px) {

  .header {
    display: flex;
    background: #FFFFFF;
  }

  .header__content {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }

  .header__search {
    display: flex;
    align-items: center;
    background: #F1F1F1;
    border-radius: 9999px;
    padding: 12px 18px;
    font-size: 20px;
    width: 100%;
    max-width: 642px;
    margin-left: calc(50% - 399px);
  }

  .header__search-icon {
    display: flex;
    align-items: center;
  }

  .header__search-input {
    background: transparent;
    font-size: 20px;
    margin-left: 16px;
    outline: none;
  }

  .header__downloads-list {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .wrapper {
    max-width: 1244px;
  }

  .join, .product-mobile, .product-info, .product-description, .related, .download, .product-actions-mobile {
    display: none;
  }

  .product {
    display: block;
    margin-top: 65px;
    margin-bottom: 45px;
    height: 100%;
    max-height: 677px;
  }

  .product__content {
    display: flex;
    width: 100%;
    max-width: 1056px;
    margin-right: auto;
    margin-left: auto;
  }

  .product__images {
    width: 100%;
    max-width: 508px;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    gap: 3px;
  }

  .product__image-main img {
    display: block;
    height: 100%;
    width: 100%;
  }

  .product__images-other {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .product__image-other img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .product__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: 28px;
  }

  .product__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .product__users-avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
  }

  .product__users-avatar img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .product__users {
    font-family: "SF Pro Text Medium", sans-serif;
  }

  .product__users span {
    color: var(--gray);
  }

  .header__button-subscribe {
    margin-left: auto;
  }

  .button-subscribe {
    font-size: 14px;
    padding: 10px 16px;
  }

  .product__title {
    font-family: "SF Pro Text Bold", sans-serif;
    font-size: 20px;
  }

  .product__description {
    font-size: 20px;
  }

  .product__footer {
    flex-grow: 1;
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  .selection__title {
    text-align: center;
    font-size: 28px;
    font-family: "SF Pro Text Semibold", sans-serif;
  }

  .selection__grid {
    width: 100%;
    margin-top: 29px;
  }

  .selection__card {
    width: 100%;
    max-width: 236px;
  }

  .selection__card-image {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  .selection__card-image img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .selection__card-tags {
    position: relative;
    margin-top: 8px;
    display: flex;
    gap: 4px;
    overflow: hidden;
  }

  .selection__card-tag {
    padding: 4px 8px;
    background: #E9E9E9;
    border-radius: 9999px;
    font-family: "SF Pro Text Semibold", sans-serif;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
  }

  .selection__card-tags-next {
    cursor: pointer;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    background: linear-gradient(270deg, #fff 25%, rgba(255, 255, 255, 0) 100%);
  }

  .selection__card-name {
    margin-top: 4px;
    font-size: 14px;
    font-family: "SF Pro Text Semibold", sans-serif;
  }

  .selection__card-description {
    font-size: 14px;
    margin-top: 4px;
  }

  .selection__card-user {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .selection__card-avatar {
    border-radius: 100%;
    overflow: hidden;
    width: 32px;
    height: 32px;
  }

  .selection__card-avatar img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .selection__card-user-nickname {
    font-family: "SF Pro Text Bold", sans-serif;
    font-size: 12px;
  }

  .selection__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .selection {
    display: block;
    margin-bottom: 100px;
  }

  .selection .wrapper {
    position: relative;
  }

  .join-qr {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100%;
    max-width: 340px;
    padding: 40px 15px;
    border-radius: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.03), 0 7px 5px 0 rgba(0, 0, 0, 0.04), 0 13px 10px 0 rgba(0, 0, 0, 0.05), 0 22px 18px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    z-index: 9999;
  }

  .join-qr__avatar {
    width: 64px;
    height: 64px;
  }

  .join-qr__avatar img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .join-qr__title {
    text-align: center;
    font-family: "SF Pro Text Bold", sans-serif;
    font-size: 26px;
  }

  .join-qr__description {
    text-align: center;
    color: var(--gray);
    font-size: 14px;
  }
  
  .grid-desktop {
    position: relative;
  }


  /* Стили для страницы "Товар" */

  .product-page .join,
  .product-page .related,
  .product-page .product-info__content {
    display: block;
  }

  .product-page .grid-item {
    max-width: calc((100% - 64px) / 5);
  }

  .product-page .swiper-card, .product-page .related-card-other {
    height: initial;
  }

  .product-page {
    background: #FFFFFF;
  }

  .product-page .swiper-slide {
    background-color: transparent !important;
  }

  .product-page .product__content {
    padding-right: 20px;
    padding-left: 20px;
  }

  .product-page .product {
    height: 677px;
  }

  .product-page .product .wrapper {
    height: 100%;
  }

  .product-page .product__content, .product-page .swiper {
    height: 100%;
  }

  .product-page .product__content {
    gap: 28px;
  }

  .product-page .product__info {
    margin-left: 0;
    max-width: 475px;
  }

  .product-page .slide-container {
    max-width: 100%;
  }

  .product-page .related {
    display: block;
  }

  .product-page .related .wrapper {
    position: relative;
  }

  .product__info-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .product-page .product__info {
    gap: 16px;
  }

  .product-info__description {
    margin-top: 50px;
  }
}

.grid {
  position: relative;
}

.grid-item {
  position: absolute;
}

.selection__card-avatar.no-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 13px;
  vertical-align: center;
  font-family: "SF Pro Text Bold", sans-serif;
  background: #E9E9E9;
}

.selection__card-avatar.no-avatar span {
  margin-bottom: 2px;
}